<.header>
  Edit Player {@player.id}
  <:subtitle>Use this form to manage player records in your database.</:subtitle>
</.header>

<.player_form changeset={@changeset} action={~p"/player_canonical/#{@player}"} />

<.back navigate={~p"/player_canonical"}>Back to player_canonical</.back>
