<.header>
  New Player
  <:subtitle>Use this form to manage player records in your database.</:subtitle>
</.header>

<.player_form changeset={@changeset} action={~p"/player_canonical"} />

<.back navigate={~p"/player_canonical"}>Back to player_canonical</.back>
