<.header>
    Master List of Player ID Linkages
    <:actions>
        <.link href={~p"/player_id_lookup/new"}>
            <.button>New Player ID Linkage</.button>
        </.link>
    </:actions>

</.header>