<.header>
    Master List of Player ID Linkages
    <:actions>
        <.link href={~p"/player_id_lookup/new"}>
            <.button>New Player ID Linkage</.button>
        </.link>
    </:actions>

</.header>

<.table>
    id = "player_id_lookup"
    rows = {@lookups}
    row_click = {&JS.navigate(~p"/player_id_lookup/#{&1}")}

    <:col
        label = {"Id"}
        :let = {lookup}
    >
        <%= lookup.id %>
    </:col>
</.table>