<.header>
    Player ID Linkage for Player {@player_id_lookup.id}
    <:subtitle>This is a player ID linkage record from your database.</:subtitle>
</.header>

<.list>
    <:item title="Data Source">{@player_id_lookup.data_source}</:item>
    <:item title="Data Source ID">{@player_id_lookup.data_source_id}</:item>
    <:item title="Canonical Player ID">{@player_id_lookup.player_id}</:item>
</.list>

<.back navigate={"/player_id_lookup"}>Back to player_id_lookup index table</.back>