<.header>
  New Player Combine Stats Record
  <:subtitle>Use this form to manage player records in your database.</:subtitle>
</.header>

<.combine_stats_form_new changeset={@changeset} action={~p"/player_combine_stats"} />

<.back navigate={~p"/player_combine_stats"}>Back to player_combine_stats</.back>